// Vuetify variables

//Navbar
$toolbar-content-padding-x: 0px;
$toolbar-content-padding-y: 0px;

//Home-search
$text-field-enclosed-details-padding: 0 0 0 12px;

//btn
$btn-active-opacity: 0;
$btn-focus-opacity: 0;

$rounded: (
  "simple": 20px,
);